/Elastic.Kibana.Examples/Elastic.Kibana.Examples.Serilog/bin
/Elastic.Kibana.Examples/Elastic.Kibana.Examples.Serilog/obj
/Elastic.Kibana.Examples/.idea
/Elastic.Kibana.Examples/Elastic.Kibana.Examples.Search/bin
/Elastic.Kibana.Examples/Elastic.Kibana.Examples.Search/obj
